<section id="events">
    <h2>Events</h2>
    <p>Discover cycling events happening near you.</p>
    <p>Discover a wide range of cycling events happening in your area. From local charity rides to competitive races, our event
    listings will keep you informed about upcoming cycling events. Join fellow cyclists and embrace the thrill of riding
    together.</p>
    <!-- Event listings go here -->
    <div class="events">
        <app-event *ngFor="let event of events"
            [name]="event.name"
            [date]="event.date"
            [distance]="event.distance"
            [description]="event.description"
            [img]="event.img"
        ></app-event>
    </div>
    <div class="pagination-container">
        <ul class="pagination">
            <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a></li>
            <li class="page-item" *ngFor="let item of events; let i = index">
                <a class="page-link" href="#">{{ i + 1}}</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    </div>
</section>

