<section id="shops">
    <h2>Shops</h2>
    <p>Explore cycling shops for gear and accessories.</p>
    <p>Explore our curated list of cycling shops offering a wide range of cycling gear and accessories. Whether you need a new
    bike, clothing, helmets, or bike components, our shop directory will guide you to reliable and reputable cycling stores
    in your area. Get expert advice and find the perfect equipment for your cycling needs.</p>
    <!-- Shop listings go here -->
    <div class="shops">
        <app-shop class="groups" *ngFor="let shop of shops" 
            [name]="shop.name" 
            [description]="shop.description"
            [img]="shop.img"
            [location]="shop.location"
            ></app-shop>
    </div>
</section>